<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="naver-site-verification" content="39a246e0aec11f736a2cc2c43d8d5558f55c33d8" />
    <meta name="google-site-verification" content="vUeCx1QCkNzuAvFdS2BjtfEBeWXRfk8VBMPgHPLVpec" />
    
      <!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

    <meta name="My Mental Pocket" content="width=device-width, initial-scale=1.0">
    <meta name="마이멘탈포켓은 비대면 정서장애 예방관리 서비스 플랫폼 중 챗봇 서비스와 신체활동게임 서비스를 제공합니다.">
    <meta name="description" content="마이멘탈포켓은 비대면 정서장애 예방관리 서비스 플랫폼 중 챗봇 서비스와 신체활동게임 서비스를 제공합니다.">

    <meta property="og:url"                content="www.mymentalpocket.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="마이멘탈포켓" />
    <meta property="og:description"        content="마이멘탈포켓은 비대면 정서장애 예방관리 서비스 플랫폼 중 챗봇 서비스와 신체활동게임 서비스를 제공합니다." />
    <meta property="og:image"              content="https://github.com/Rugger12/MyMentalPocket_homepage/blob/master/src/site/images/mymentalpocket_hompage_image.png?raw=true" />

    <link rel="canonical" href="http://www.mymentalpocket.com">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



